Iris/.vs/Iris/v16/.suo
Iris/IrisClient/bin/Debug/IrisLib.dll
Iris/IrisClient/bin/Debug/IrisLib.pdb
Iris/IrisClient/obj/Debug/IrisClient.csprojAssemblyReference.cache
Iris/IrisHost/bin/Debug/IrisLib.dll
Iris/IrisHost/bin/Debug/IrisLib.pdb
Iris/IrisHost/obj/Debug/IrisHost.csprojAssemblyReference.cache
Iris/IrisLib/bin/Debug/IrisLib.dll
Iris/IrisLib/bin/Debug/IrisLib.pdb
Iris/IrisLib/obj/Debug/IrisLib.dll
Iris/IrisLib/obj/Debug/IrisLib.pdb